*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    font-size:18px;
}
.box{
    width:400px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.box button{
    width:180px;
    height:53px;
    margin:0 15px 50px 0;
    border-radius:0 30px 0 30px;
    border:2px solid #6c2dc7;
    outline:none;
    cursor:pointer;
    background-color:#fff;
    color:#6c2dc7;
    padding-top:15px;
    transition:0.4s ease;
}

.box button:hover{
    color:crimson;
}